<article class="article">
	<section class="article-header">
		<span class="article-date">{{dateString}}</span><h1>{{title}}</h1>
	</section>
	<section class="article-content">
		{{{content}}}
	</section>
</article>