<h1>Articles</h1>
<ul class="articles-list">
	{{#articles}}
	<li class="articles-list-item"><span class="article-list-item-date">{{dateString}}</span><a href="{{htmlPath}}">{{title}}</a></li>
	{{/articles}}
</ul>